<md-toolbar md-whiteframe="4">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="appVM.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-headline" id="toolbar-title">{{exhibitsVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="primary-col" layout="row" layout-align="center start" md-colors="{{appVM.backgroundColors}}" flex>
  <md-card flex>
    <div id="lightgallery" flex class="md-card-image">
      <a flex href="https://s3.ap-northeast-2.amazonaws.com/ngo-app/exhibits/exhibits.png">
        <img flex src="https://s3.ap-northeast-2.amazonaws.com/ngo-app/exhibits/exhibits.png"/>
      </a>
    </div>
    <md-card-content flex>
      <span hide-gt-md>Touch image to enlarge</span>
    </md-card-content>
  </md-card>
</md-content>
