<md-toolbar md-whiteframe="4">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="appVM.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-headline">{{homeVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="primary-col" layout="row" layout-align="center start" md-colors="{{appVM.backgroundColors}}" flex="100">
  <div layout="column" layout-gt-md="row" flex-gt-xs="70" flex-xs="100">
    <div flex-gt-md="60">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Recent Notices</span>
          </md-card-title-text>
        </md-card-title>
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="item in homeVM.list | orderBy: '-date' | limitTo: 3"
                        md-ink-ripple=""
                        ng-href="#notices/{{item.id}}">
            <md-icon class="md-avatar-icon" md-colors="::{'backgroundColor': 'primary-500'}">announcement</md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>{{item.title}}</h3>
              <p>{{item.date | timeAgo}}</p>
            </div>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-href="#notices">More</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-gt-md="40">
      <md-card flex="noshrink" ng-if="homeVM.currentEvent">
        <div class="md-card-image mdl-card"
             ng-style="{'background-image': 'url({{homeVM.mapper[homeVM.currentEvent.type].cardImgUrl}})'}" layout="row"
             layout-align="start end">
          <span class="md-headline shadow" flex="100" ng-style="homeVM.cardImgTextStyle">Live Now</span>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{homeVM.currentEvent.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-icon>access_time</md-icon>
          <span class="md-caption">{{homeVM.currentEvent.startDate | date:'EEE, MMM d, HH:mm'}} - {{homeVM.currentEvent.endDate | date:'HH:mm'}} ({{homeVM.currentDuration}}')</span>
          <md-icon>room</md-icon>
          <span class="md-caption">{{homeVM.currentEvent.location}}</span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-href="#timetable">More</md-button>
        </md-card-actions>
      </md-card>
      <md-card flex="noshrink" ng-if="homeVM.currentEventTwo">
        <div class="md-card-image mdl-card"
             ng-style="{'background-image': 'url({{homeVM.mapper[homeVM.currentEventTwo.type].cardImgUrl}})'}" layout="row"
             layout-align="start end">
          <span class="md-headline shadow" flex="100" ng-style="homeVM.cardImgTextStyle">Live Now</span>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{homeVM.currentEventTwo.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-icon>access_time</md-icon>
          <span class="md-caption">{{homeVM.currentEventTwo.startDate | date:'EEE, MMM d, HH:mm'}} - {{homeVM.currentEventTwo.endDate | date:'HH:mm'}} ({{homeVM.currentTwoDuration}}')</span>
          <md-icon>room</md-icon>
          <span class="md-caption">{{homeVM.currentEventTwo.location}}</span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-href="#timetable">More</md-button>
        </md-card-actions>
      </md-card>
      <md-card flex="noshrink" ng-if="homeVM.currentEventThree">
        <div class="md-card-image mdl-card"
             ng-style="{'background-image': 'url({{homeVM.mapper[homeVM.currentEventThree.type].cardImgUrl}})'}" layout="row"
             layout-align="start end">
          <span class="md-headline shadow" flex="100" ng-style="homeVM.cardImgTextStyle">Live Now</span>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{homeVM.currentEventThree.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-icon>access_time</md-icon>
          <span class="md-caption">{{homeVM.currentEventThree.startDate | date:'EEE, MMM d, HH:mm'}} - {{homeVM.currentEventThree.endDate | date:'HH:mm'}} ({{homeVM.currentThreeDuration}}')</span>
          <md-icon>room</md-icon>
          <span class="md-caption">{{homeVM.currentEventThree.location}}</span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-href="#timetable">More</md-button>
        </md-card-actions>
      </md-card>
      <md-card flex="noshrink" ng-if="homeVM.nextEvent">
        <div class="md-card-image mdl-card"
             ng-style="{'background-image': 'url({{homeVM.mapper[homeVM.nextEvent.type].cardImgUrl}})'}" layout="row"
             layout-align="start end">
          <span class="md-headline shadow" ng-style="homeVM.cardImgTextStyle" flex="100">Next Agenda</span>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{homeVM.nextEvent.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-icon>access_time</md-icon>
          <span class="md-caption">{{homeVM.nextEvent.startDate | date:'EEE, MMM d, HH:mm'}} - {{homeVM.nextEvent.endDate | date:'HH:mm'}} ({{homeVM.nextDuration}}')</span>
          <md-icon>room</md-icon>
          <span class="md-caption">{{homeVM.nextEvent.location}}</span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-href="#timetable">More</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
