<md-toolbar md-whiteframe="4" class="md-accent">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="detailVM.goBack()">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <span class="md-headline" id="toolbar-title">{{detailVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="primary-col" layout="column" layout-margin md-colors="{{appVM.backgroundColors}}" flex="100">
  <span class="md-headline">{{detailVM.notice.title}}</span>
  <span class="md-subhead">Posted at {{detailVM.notice.date | date:'medium'}}</span>
  <md-divider></md-divider>
  <p ng-bind-html="detailVM.notice.body"></p>
</md-content>
