<md-toolbar md-whiteframe="4">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="appVM.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-headline">{{roundtableVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="primary-col" layout="column" md-colors="{{appVM.backgroundColors}}" flex="100">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="item in roundtableVM.lists" md-ink-ripple ng-href="#roundtables/{{item.id}}" layout="row" layout-align="start center">
      <md-icon class="md-avatar-icon" md-colors="::{'backgroundColor': 'primary-500'}">event_seat</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>{{item.title}}</h3>
        <h4 class="md-caption">{{item.topic}}</h4>
      </div>
      <span flex></span>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
