<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="appVM.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-headline" id="toolbar-title">{{socializeVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="socialize-col" layout="column" flex md-colors="{{appVM.backgroundColors}}">
  <md-tabs class="md-primary" md-dynamic-height md-border-bottom md-stretch-tabs="auto" md-autoselect
           md-swipe-content>
    <md-tab label="Twitter">
      <div layout="row" layout-align="center start" flex="100">
        <md-card flex-gt-md="70">
          <md-card-content>
            <twitter-timeline twitter-timeline-id="'734570190411698176'"
                              twitter-timeline-options='{{socializeVM.twitterOptions}}'>
            </twitter-timeline>
          </md-card-content>
        </md-card>
      </div>
    </md-tab>
    <md-tab label="Facebook">

    </md-tab>
  </md-tabs>
</md-content>
