<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="appVM.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-headline" id="toolbar-title">{{timetableVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="primary-col" layout="column" flex="100">
  <md-tabs class="md-primary" md-border-bottom md-stretch-tabs="auto"
           md-swipe-content flex="100" md-selected="timetableVM.activeTab">
    <md-tab ng-repeat="timetable in timetableVM.timetables" label="{{timetable.title}}">
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="item in timetable.schedules" flex="100">
          <md-icon class="md-avatar-icon" ng-style="{'background-color': timetableVM.mapper[item.type].avatarColor}">
            {{timetableVM.mapper[item.type].icon}}
          </md-icon>
          <div class="md-list-item-text" layout="row" flex="100" layout-margin>
            <div layout="column">
              <p>{{item.startDate | date:'HH:mm'}}</p>
              <p>{{item.endDate | date:'HH:mm'}}</p>
            </div>
            <div layout="column" layout-align="center start" flex="100">
              <span>{{item.title}}</span>
              <p>{{item.location}}</p>
            </div>
          </div>
          <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>
</md-content>
