<md-toolbar md-whiteframe="4" class="md-accent">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="workshopDetailVM.goBack()">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <span class="md-headline">{{workshopDetailVM.toolbarTitle}}</span>
  </div>
</md-toolbar>
<md-content id="primary-col" layout="row" layout-align="center start" md-colors="{{appVM.backgroundColors}}" flex>
  <div layout="row" flex="100" flex-gt-md="70">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{workshopDetailVM.workshopObj.topic}}</span>
          <span class="md-subhead">{{workshopDetailVM.workshopObj.sponsor}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-divider></md-divider>
        <p class="md-caption" ng-if="!workshopDetailVM.files">Nothing to show</p>
      </md-card-content>
      <md-list ng-if="workshopDetailVM.files" class="md-dense" flex>
        <md-subheader class="md-no-sticky">References</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="item in workshopDetailVM.files" md-ink-ripple ng-href="{{item.url}}"
                      layout="row" target="_blank">
          <md-icon class="md-avatar-icon" md-colors="::{'backgroundColor': 'accent-A200'}">{{workshopDetailVM.mapper[item.type] ? workshopDetailVM.mapper[item.type] :
            'attachment'}}
          </md-icon>
          <div class="md-list-item-text" layout="column">
            <p>{{item.title}}</p>
          </div>
          <span flex></span>
          <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</md-content>
